.card-title{
    margin-bottom: 30px !important;
    }
    .error {
    color: red;
    }
    .table th, .jsgrid .jsgrid-table th, .table td, .jsgrid .jsgrid-table td
    {
    vertical-align: top!important;
    }
    .timepicker{
        z-index: 666666;
    }
    .clock
    {width: 1.2857142857142858em;
    text-align: center;
    color: #555;
    }
    .input-group, .asColorPicker-wrap
    {
    width: 70%!important;
    }
    input.form-control.timepicker
    {
    padding: 0px;
    }
    .input-group-append .input-group-text, .input-group-prepend .input-group-text
    {
    border-color: #ebedf2;
    padding: 10px 0.75rem;
    border-left:none!important;
    background-color: #f4f4f4!important;
    color: #c9c8c8;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px 4px 4px 0px!important;
    margin-top: 2px;
    }
    .closedTimes{
    display: none;
    }
    .openedTimes{
    display: block;
    }
    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }
    .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    }
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    } 
    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }
    input:checked + .slider {
    background-color: #2196F3;
    }
    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }
    .slider.round:before {
    border-radius: 50%;
    }

    th {
    background-color: salmon;
    color: white;
    }
