.button {
	padding: 1.5rem 3rem;
	border-radius: 3rem;

	&:active {
		transform: scale(0.9);
	}

	&-white {
		color: $orange;
		background-color: $white-color;
	}

	&-orange {
		background-color: $orange;
		color: $white-color;
		transition: all 0.3s;

		&:hover {
			color: $orange;
			background-color: $white-color;
		}
	}
}
