.heading-primary {
	color: $orange;
	font-size: 3rem;
	font-weight: 400;
}

.heading-secondary {
	color: $orange-light;
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.heading-secondary-sub {
	color: $orange-lighter;
	font-weight: 400;
	font-weight: 1.5rem;
}

.orange-text {
	color: $orange-lighter;
}
